
$clr-white-gray: #f2f2f2;
$clr-white-dark-gray: #757775;
$clr-white: #ffffff;
$clr-primary: #194FDA;
$clr-primary-dark: #1544bb;
$clr-primary-light: #1544bb45;
$clr-success: #0AB964;
$clr-success-medium: #0ab964bb;
$clr-success-light: #2ac0c02b;
$clr-dark: #333333;

