@use 'colors';

.button {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: .75rem 3rem;
    background-color: colors.$clr-primary;
    border-radius: 50px;
    border: none;
    transition: background-color 200ms ease-in, 
                box-shadow 200ms ease-in;
    &__icon,
    &__text { color: colors.$clr-white; }
    
    &__icon {
        padding-right: 1rem;
        font-size: 2rem;
    }


    &:hover {
        background-color: colors.$clr-primary-dark;
    }

    &:focus {
        box-shadow: 2px 3px 0 colors.$clr-primary-light, 
        -2px 3px 0 colors.$clr-primary-light,
        2px -3px 0 colors.$clr-primary-light,
        -2px -3px 0 colors.$clr-primary-light;
    }
}

