@use 'colors';

.button {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: .75rem 3rem;
    background-color: colors.$clr-primary;
    border-radius: 50px;
    border: none;
    transition: background-color 200ms ease-in, 
                box-shadow 200ms ease-in;
    &__icon,
    &__text { color: colors.$clr-white; }
    
    &__icon {
        padding-right: 1rem;
        font-size: 2rem;
    }


    &:hover {
        background-color: colors.$clr-primary-dark;
    }

    &:focus {
        box-shadow: 2px 3px 0 colors.$clr-primary-light, 
        -2px 3px 0 colors.$clr-primary-light,
        2px -3px 0 colors.$clr-primary-light,
        -2px -3px 0 colors.$clr-primary-light;
    }
}

.form-field {
    position: relative;
    & > .uil {
        font-size: 1.8rem;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 1rem;
        transform: translateY(-60%);
    }
}

.form-control {
   border: .2rem solid transparent;
   border-radius: .4rem;
   background-color: colors.$clr-white-gray;
   outline: none;
   width: 100%;
   transition: border-color 200ms ease-in;

   &[type='text'] {
    padding: 1rem 1rem 1rem 4rem;
   }

   &[type='time'] {
    padding: .8rem;
   }

   &:focus {
    border-color: colors.$clr-primary-light;
   }

   &:focus ~ .uil {
    color: blue;
   }
}
