@use 'colors';

input {
    width: 100%;
    padding: .75rem 1rem;
    border: none;
    background-color: colors.$clr-gray;
    border-radius: .3rem;
    outline: none;
    transition: box-shadow .3s ease;
}

input:focus {
    box-shadow: 2px 2px 0 colors.$clr-success-medium, 
    -2px -2px 0 colors.$clr-success-medium, 
    -2px 2px 0 colors.$clr-success-medium,
    2px -2px colors.$clr-success-medium;
}

.form-control {
    
    width: 30%;
    flex-grow: 1;
    position: relative;
    border-radius: .3rem;
    
    label {
        display: block;
        margin-bottom: 1rem;
    }

    .uil {
        position: absolute;
        font-size: 1.8rem;
        left: .75rem;
        top: 70%;
        transform: translateY(-50%);
    }

    input[type='time'] {
        padding: 1.4rem 1rem;
    }

}

.form-control.with-icon-left {
    width: 65%;
    input[type='text'] {
        padding: 1.5rem 1.5rem 1.5rem 3rem;
    }

    input[type='text']:focus + .uil {
        color: rgba(10, 185, 110, 1);
    }
}

form {
    .button {
        display: flex;
        padding: 1rem;
        width: minmax(15rem, 20rem);
        justify-content: space-around;
        align-items: center;
        background-color: colors.$clr-primary;
        border: none;
        border-radius: 50px;
        &__icon {
            color: colors.$clr-light;
            font-size: 2rem;
            padding: 0 1rem;
        }

        &__text {
            padding: 0 1rem;
            color: white;
        }
    
    }
}